{% extends 'common/base.html' %}
{% block title %} UPLOAD FILE DASHBOARD {% endblock %}

{% block content %}

<div class="container card" style="margin-top: 50px; padding: 30px">
    <div class="row justify-content-center container">
        <div class="content">
              <h1> Please upload your csv file </h1> <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row content">
                        <div class="col"> <br>
                            <input type="file" name="document" id="document" required="required">
                        </div>

                         <div class="col">
                             <p id="id"> Attribute ID</p>
                            <input type="text" name="attributeid" id="attributeid" required="required">
                        </div>

                         <div class="col"> <br>
                            <button id="submit" class="btn-primary"> Upload</button>
                        </div>
                    </div>
                </form>
        <br>


        </div>
</div>
</div>

{% endblock %}